################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ThumbnailGenerator.API/bin/Debug/net8.0
/ThumbnailGenerator.API/.vs/ThumbnailGenerator.API
/ThumbnailGenerator.API/obj
